<h4 class="page_title">New Tracking Number</h4>
<button pButton [disabled]="isUploading" class="p-button-secondary p-button-rounded p-button-text p-button-back" routerLink="../" icon="pi pi-chevron-left" label="Back"></button>
<p-blockUI [blocked]="blockContent"></p-blockUI>

<div class="card">
  <p-tabView>
    <p-tabPanel header="New Number">
      <div class="p-fluid grid mt-3">
        <div class="field col-12 md:col-5">
          <span class="p-float-label">
              <p-inputMask id="inputtext" [(ngModel)]="selectedTrackingNumber" mask="(999) 999-9999" [unmask]="true"></p-inputMask>
              <label for="inputtext">Tracking Number</label>
          </span>
        </div>

        <div class="field col-12 md:col-5" *ngIf="store.getUserType() == cmsUserType.superAdmin">
          <span class="p-float-label">
              <p-dropdown id="dropdown1" [(ngModel)]="selectedCustomer" [options]="customerList" (onChange)="number.customerId = $event.value.id" [autoDisplayFirst]="false" optionLabel="companyName"></p-dropdown>
              <label for="dropdown1">Customer</label>
          </span>
        </div>
      </div>
      <div class="grid">
        <div class="col-6">
        </div>
        <div class="col-6 text-right">
          <button pButton pRipple label="Create New Tracking Number" (click)="onCreateNumber(false)"></button>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Bulk Upload Numbers">
      <h6 style="padding-top: 20px;"><b>{{data.length}}</b> Tracking Numbers</h6>
      <div class="p-fluid grid">
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
              <p-dropdown id="dropdown2" [(ngModel)]="selectedCustomer" [options]="customerList" (onChange)="selCustomerId = $event.value.id" [autoDisplayFirst]="false" optionLabel="companyName"></p-dropdown>
              <label for="dropdown2">Company</label>
          </span>
        </div>
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
              <p-dropdown id="dropdown3" [options]="types" (onChange)="action = $event.value.key" [autoDisplayFirst]="true" optionLabel="value"></p-dropdown>
              <label for="dropdown3">Type</label>
          </span>
        </div>
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
              <p-dropdown id="dropdown4" [options]="object.values(routingActionEnum)" (onChange)=" routingAction = $event.value.key " [autoDisplayFirst]="true" optionLabel="value"></p-dropdown>
              <label for="dropdown4">Type</label>
          </span>
        </div>
      </div>
      <div class="grid mb-5">
        <div class="col-4">
        </div>
        <div class="col-8 text-right">
          <button pButton pRipple label="Import" icon="pi pi-cloud-file" (click)="importPanelOpened = true" class="mr-2"></button>
          <button pButton pRipple label="Upload" icon="pi pi-cloud-upload" (click)="onCreateNumber(true)" [disabled]="data.length == 0"></button>
        </div>
      </div>

      <div class="card" *ngIf="importPanelOpened">
        <p-messages severity="info">
          <ng-template pTemplate>
            <h6 class="">File Format should be same as below. <small style="">&nbsp;(Type should be .xlsx, .xls, or .csv!)</small></h6>
          </ng-template>
        </p-messages>
        <p-table [value]="bulkSampleData" responsiveLayout="stack" responsive="true">
          <ng-template pTemplate="header">
            <tr>
              <th>Tracking Number</th>
              <th>Tracking Source</th>
              <th>Routing</th>
              <th>Receiving Number</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td><span class="p-column-title">Tracking Number</span>{{item.number}}</td>
              <td><span class="p-column-title">Tracking Source</span>{{item.source}}</td>
              <td><span class="p-column-title">Routing</span>{{item.routing}}</td>
              <td><span class="p-column-title">Receiving Number</span>{{item.receiving}}</td>
            </tr>
          </ng-template>
        </p-table>
        <div class="grid mt-3">
          <div class="col-6">
            <button pButton pRipple label="Cancel" class="p-button-warning" (click)="importPanelOpened = false"></button>
          </div>
          <div class="col-6 text-right">
            <button pButton pRipple label="Choose File" (click)="fileInput.click()"></button>
            <input #fileInput type="file" (change)="changeListener($event)" style="display: none" accept=".xlsx,.xls,.csv"/>
          </div>
        </div>
      </div>

      <div class="card">
        <p-table [value]="data" responsiveLayout="stack" responsive="true">
          <ng-template pTemplate="header">
            <tr>
              <th>Tracking Number</th>
              <th>Tracking Source</th>
              <th>Routing</th>
              <th>Receiving Number</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td><span class="p-column-title">Tracking Number</span>{{row[0]}}</td>
              <td><span class="p-column-title">Tracking Source</span>{{row[1]}}</td>
              <td><span class="p-column-title">Routing</span>{{row[2]}}</td>
              <td><span class="p-column-title">Receiving Number</span>{{row[3]}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
